body{
    background-color: #def;
    font-family: serif;
    text-align: center;
}

#content{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3% ;
    /* grid-template-columns: repeat(9,1fr);   */
    /* grid-template-columns: 1fr 2fr 1fr;   */
    grid-auto-rows: 200px;
    /*grid-auto-rows: minax(200px auto);*/
    grid-gap: 10px;
    max-width: 960px;
    margin: 0 auto;
    align-items: start;
    justify-items:end;
}

#content div{
    background: #3beced;
    padding: 30px;
    
}
#content div:nth-child(even) {
    background: #777;
  
    
}

.one{
    grid-column: 1/3;
}
.two{
    grid-column: 1/5;
}
.three{
    grid-column: 1/8;
}
.six{
    grid-column: 2/5;
}