body{
    color: #999;
    text-align: center;
    margin: 10px 0;
}

.service{
    float: left;
    background: #eee;
    width: 29.33%;
    margin: 1%;
    padding: 1%;
    height: 140px;
    
}

.content{
    padding: 10px;
    background: #ccc;
    clear: right;
    margin-top: 100x;
    
}

section, aside{
    
    float: left;
    width: 46%;
    padding: 1%;
    margin: 1%;
    background: #f3f3f3;
    
}